@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><marquee>Welcome Real Time Chat</marquee></h1>
    <p>Learn about <a href="https://www.milies.net/"> Milies</a></p>
</div>

